@import "tailwindcss";

:root {
  --background: 243 244 246;
  /* Gray-100 */
  --foreground: 17 24 39;
  /* Gray-900 */

  --card: 255 255 255;
  --card-foreground: 17 24 39;

  --popover: 255 255 255;
  --popover-foreground: 17 24 39;

  --primary: 37 99 235;
  /* Blue-600 */
  --primary-foreground: 255 255 255;

  --secondary: 229 231 235;
  /* Gray-200 */
  --secondary-foreground: 17 24 39;

  --muted: 243 244 246;
  --muted-foreground: 107 114 128;
  /* Gray-500 */

  --accent: 243 244 246;
  --accent-foreground: 17 24 39;

  --destructive: 239 68 68;
  /* Red-500 */
  --destructive-foreground: 255 255 255;

  --border: 229 231 235;
  /* Gray-200 */
  --input: 229 231 235;
  --ring: 37 99 235;

  --pbi-yellow: #F2C811;
  --pbi-dark: #252423;
  --pbi-gray: #EAEAEA;
}

.dark {
  --background: 10 10 10;
  /* Near Black */
  --foreground: 250 250 250;
  /* Near White */

  --card: 23 23 23;
  /* Dark Gray */
  --card-foreground: 250 250 250;

  --popover: 23 23 23;
  --popover-foreground: 250 250 250;

  --primary: 59 130 246;
  /* Blue-500 */
  --primary-foreground: 255 255 255;

  --secondary: 38 38 38;
  /* Gray-800 */
  --secondary-foreground: 250 250 250;

  --muted: 38 38 38;
  --muted-foreground: 163 163 163;
  /* Gray-400 */

  --accent: 38 38 38;
  --accent-foreground: 250 250 250;

  --destructive: 127 29 29;
  /* Red-900 */
  --destructive-foreground: 250 250 250;

  --border: 38 38 38;
  --input: 38 38 38;
  --ring: 59 130 246;
}

@theme {
  --color-background: rgb(var(--background));
  --color-foreground: rgb(var(--foreground));

  --color-card: rgb(var(--card));
  --color-card-foreground: rgb(var(--card-foreground));

  --color-popover: rgb(var(--popover));
  --color-popover-foreground: rgb(var(--popover-foreground));

  --color-primary: rgb(var(--primary));
  --color-primary-foreground: rgb(var(--primary-foreground));

  --color-secondary: rgb(var(--secondary));
  --color-secondary-foreground: rgb(var(--secondary-foreground));

  --color-muted: rgb(var(--muted));
  --color-muted-foreground: rgb(var(--muted-foreground));

  --color-accent: rgb(var(--accent));
  --color-accent-foreground: rgb(var(--accent-foreground));

  --color-destructive: rgb(var(--destructive));
  --color-destructive-foreground: rgb(var(--destructive-foreground));

  --color-border: rgb(var(--border));
  --color-input: rgb(var(--input));
  --color-ring: rgb(var(--ring));

  --color-pbi-yellow: var(--pbi-yellow);
  --color-pbi-dark: var(--pbi-dark);
  --color-pbi-gray: var(--pbi-gray);
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
}

.text-balance {
  text-wrap: balance;
}